<br>
<p><table style="margin: 0 auto;">
	<tr><td>Preguntas:</td><td>&nbsp;</td><td><%= estadisticas.preguntas %></td>
	<tr><td>Comentarios:</td><td>&nbsp;</td><td><%= estadisticas.comentarios %></td></tr>
	<tr><td>Comentarios por pregunta:</td><td>&nbsp;</td><td><%= estadisticas.comentariosPorPregunta %></td></tr>
	<tr><td>Preguntas con comentarios:</td><td>&nbsp;</td><td><%= estadisticas.preguntasConComentarios %></td></tr>
	<tr><td>Preguntas sin comentarios:</td><td>&nbsp;</td><td><%= estadisticas.preguntasSinComentarios %></td></tr>
</table></p>